:root {

    /* --tridactyl-font-size:       13pt; */
    /* --tridactyl-small-font-size: 13pt; */

    --tridactyl-status-font-size:   13pt;
    --tridactyl-hintspan-font-size: 9pt;
    --tridactyl-cmdl-font-size:     13pt;
    --tridactyl-cmplt-font-size:    13pt;
    --tridactyl-header-font-size:   13pt;

}

#command-line-holder {
    font-size: 13pt;
}
#completions > div > table {
    font-size: 13pt;
}
/* https://github.com/tridactyl/tridactyl/issues/5152 */
