#!/bin/sh

xrandr --dpi 96
# set dpi. user may want to use a larger number for larger screens

output=`xrandr | grep "\bconnected\b" | cut -d' ' -f1`
# xrandr --output $output --set TearFree on
xrandr --output $output --mode 1920x1080 --rate 144

xset s off -dpms
#xset s off dpms 2700 2700 2700
# disable screen saver blanking & set dpms. https://wiki.archlinux.org/title/Display_Power_Management_Signaling#Modify_DPMS_and_screensaver_settings_with_a_command



setbg &
remaps &
dark-light & xrdbpid=$!
fcitx5 -d &
nutstore &

autostart="mpd xcompmgr dunst unclutter pipewire remapd"
for program in $autostart; do
	pidof -s "$program" || "$program" &
done >/dev/null 2>&1



[ -n "$xrdbpid" ] && wait "$xrdbpid"
