#!/bin/sh

xrandr --dpi 96
# set dpi. user may want to use a larger number for larger screens

output=$(xrandr | grep "\bconnected\b" | cut -d' ' -f1)
xrandr --output $output --set TearFree on
xrandr --output $output --mode 1920x1080 --rate 144

xset s blank
xset s expose
xset s 3600 0
xset s off
# screen saver
# place `xset s off` last, since may be overridden

xset dpms 0 0 3600
xset +dpms
# dpms (display power management signaling)
# place `xset +dpms` last, since may be overridden

xss-lock -- slock &
# automatically lock the screen with `slock` when: screen off / system suspend / system hibernate

# https://wiki.archlinux.org/title/Display_Power_Management_Signaling#Runtime_settings
# https://shallowsky.com/linux/x-screen-blanking.html
# xset q
# sleep 1; xset dpms force off
# sleep 0.2; xset dpms force off
# sleep 0.2; xset s activate



xwallpaper --zoom "${XDG_DATA_HOME:-$HOME/.local/share}/wallpapers/000000.png"



sxhkd                             &
picom                             &
dunst                             &
unclutter                         &
fcitx5                            &
nutstore                          &

set-keyboard                      &
# `sleep` since xmodmap settings are reset by setxkbmap
# https://askubuntu.com/questions/54157/how-do-i-set-xmodmap-on-login

set-symbolic-link-with-appearance dark & xrdbpid=$!
[ -n "$xrdbpid" ] && wait "$xrdbpid"
